
@keyframes slide-in {
  from {
    translate: var(--animation-dx, 0rem) var(--animation-dy, 0rem);
    opacity: var(--animation-opacity, 0);
  }
  50% {
    opacity: 0.3;
  }
}

@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

@layer base {
  html {
    height: 100dvh;
    max-height: 100dvh;
    width: 100dvw;
    max-width: 100dvw;
  }

  body {
    min-height: 100%;
    width: 100%;
    font-family: arial;
    font-size: 1.3rem;
    color: #eee;
    background-color: #111;
  }

  a {
    color: currentColor;
    text-decoration: none;

    &:is(:hover,:focus,:active) {
      text-decoration: underline;
      text-decoration-style: dotted;
    }

    &::before {
      content: '› ';
    }

    &::after {
      content: ' ‹';
    }
  }
}


body {
  display: grid;
  place-items: center;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  gap: 6rem;
}

h1 {
  margin-bottom: 2rem;
  max-width: 100dvw;
  font-size: min(4rem, 10dvw);
  font-family: monospace;
}

h2 {
  max-width: 100dvw;
  font-size: min(2rem, 10dvw);
  font-family: monospace;
}

.websites {
  --animation-dy: -3rem;
  animation: slide-in 1.4s 600ms ease-out both;
}

